/* ********************* DEFAULTS ********************* */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  background: #e2e9f3 !important;
  width: 100%;
  height: 100%;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}


.td-none {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

.text-input {
  padding: 0.7rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1.2em;
}

.center {
  text-align: center;
}

.logout-link {
  color: red;
}

hr {
  border: 1px solid #e2e9f3;
}

.inline-divider {
  color: #929aa5;
  margin: 0 4px;
}

.responsive-table {
  overflow-x: auto;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
}

.input-control {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  color: #55595c;
  background: #fff;
  border: 1px solid #c7c0c0;
  margin-bottom: 8px;
  line-height: 1.6rem;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  height: 52px;
  font-family: inherit;
}

.input-control-sm {
  height: 42px !important;
  display: inline-block;
}

textarea.input-control {
  height: 100px;
}

.input-control:focus {
  outline: 0;
  border: 1px solid #59b3f8;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  background-color: #b1b1b1;
  border: 1px solid transparent;
  padding: 0.65rem 1.5rem;
  text-align: center;
  font-size: 1.09rem;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
  border-radius: 3px;
  white-space: nowrap;
  color: #fff;
}

.btn:hover {
  background: #a0a0a0;
  color: #fff;
}

.small-btn {
  padding: 0.45rem 1.25rem;
}

.big-btn {
  min-width: 150px;
  padding: 0.85rem 1.5rem;
  float: none;
}

.long-btn {
  padding: 0.85rem 1.5rem;
  width: 100%;
}

.primary-btn {
  background: #1470ad;
  color: #fff;
}

.primary-btn:hover {
  background: #0f5380;
}

.warning-btn {
  background: #d8901c;
  color: #fff;
}

.warning-btn:hover {
  background: #c58215;
}

.danger-btn {
  background: #d33530;
}

.danger-btn:hover {
  background: #851e1b;
}

.sm-column {
  width: 40px;
}

/* ********************* COMPONENTS ********************* */

/* Header */
.message {
  margin: 10px 3px;
  padding: 2px 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 3px;
}

.message-icon {
  margin-right: 10px;
}

/* TABLE ACTIONS */
.admin-table {
  margin: 0 auto;
}
.admin-table .table-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}

.admin-table .table-actions .table-filter-group {
  flex-basis: 50%;
}

.admin-table .table-actions .table-buttons {
  flex-basis: 50%;
  text-align: right;
}

@media only screen and (max-width: 755px) {
  .admin-table .table-actions .table-filter-group input,
  .admin-table .table-actions .table-filter-group select {
    min-width: 150px;
    margin: 8px 0;
  }

  .admin-table .table-actions .table-buttons {
    display: flex;
    flex-direction: column;
  }

  .admin-table .table-actions .table-buttons .btn {
    margin: 8px 0;
  }
}

@media only screen and (max-width: 435px) {
  .admin-table .table-actions {
    flex-direction: column;
  }

  .admin-table .table-actions .table-buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  }

/* Flash Messages */

.message.success {
  border: 1px solid #56b38a;
  background: #eaf8f5;
  color: #56b38a;
}

.message.warning {
  border: 1px solid gold;
  background: rgb(245, 226, 118);
  color: yellow;
}

.message.error {
  border: 1px solid red;
  background: #fddae4;
  color: red;
}

.form-errors {
  border: 1px solid red;
  background: #fddae4;
  color: #944949;
  padding: 16px 32px;
}

header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #dfe2e4;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 49900;
  position: fixed;
}

header .nav-overlay {
  display: none;
}

.logo-wrapper {
  font-size: 1.4rem;
}

.logo-wrapper span {
  background: rgb(11, 75, 11);
  padding: 0 5px;
  line-height: 0;
  border-radius: 2px;
  color: #fff;
}

header nav {
  height: inherit;
  display: flex;
  align-items: center;
}
header nav a{
  display: block;
  text-decoration: none;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 49900;
}

header .navmenu {
  display: flex;

}

header .navmenu .navitem a
,.menu-bar-overall-div .side-menu-bar .navmenu .navitem a 
{
  display: block;
  text-decoration: none;
  padding: 24px 16px;
  color: #383838;
}

header .navmenu .navitem a:hover
,.menu-bar-overall-div .side-menu-bar .navmenu .navitem a:hover,
header .navmenu .navitem .dropdown a:hover
 {
  background: #f28500;
  transition: 0.5s;
  color: #fff;
}

header .navmenu .navitem
,.menu-bar-overall-div .side-menu-bar .navmenu .navitem
 {
   position: relative;
    
}


header .navmenu .navitem ul.dropdown
/* ,.menu-bar-overall-div .side-menu-bar .navmenu .navitem .dropdown  */
{

  opacity: 0; 
  position: absolute;
  top: 70px;
  width: 190px;
  transform: translateY(35px);
  z-index: 980099;
  -webkit-box-shadow: -1px -12px 20px 7px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: -1px -12px 20px 7px rgba(0, 0, 0, 0.11);
  box-shadow: -1px -12px 20px 7px rgba(0, 0, 0, 0.11);
  transition: all 0.3s ease 0s, visibilty 0s linear 0.3s, z-index 0s linear 0.01s;
  visibility: hidden;
  left: 0px;
  background: #fff;
  border-radius: 5px;

}

header .navmenu .navitem:hover ul.dropdown ,
header .navmenu .navitem:focus ul.dropdown ,
header .navmenu .navitem:focus-within ul.dropdown 
/* ,.menu-bar-overall-div .side-menu-bar .navmenu .navitem:hover ul.dropdown */
 {
  opacity: 1;
  z-index: 150;
  visibility: visible;
  transition-delay: 0s,0s,0.3s;
  transform: translateY(0);
  transition: all 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  
} 


header .navmenu .navitem .dropdown li::after {
  content: "";
  display: block;
  margin: 0 16px;
  border-bottom: 1px solid #dfeef3;
}

header .navmenu .navitem .dropdown li:last-child::after {
  content: "";
  display: none;
}

header .navmenu .navitem .dropdown::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 15%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

header .navmenu .navitem .dropdown a {
  padding: 15px 20px;

}

header .menu-icon {
  display: none;
} 

/*MENU BAR STYLE */
 .menu-bar-overall-div {
  width: 100%;
  height: calc(100% - 70px);
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 30000;
  display: block;
  margin-left: -1000%;
}

.menu-bar-overall-div .side-menu-bar {
  width: 250px;
  margin-left: -250px;
  height: 100%;
  background: #fff;
   z-index: 200;
  float: left;
}

.menu-bar-overall-div .side-menu-bar .side-bar-ul .side-bar-li:hover {
  background: #c0761c;
  color: #fff;
  transition: 0.5s;
}

.menu-bar-overall-div .side-menu-bar .side-bar-ul a {
  text-decoration: none;
}

.menu-bar-overall-div span {
  float: right;
  color: red;
  cursor: pointer;
}

/* /Menu-bar */

/* Header Media queries */
@media only screen and (max-width: 1024px) {
  header {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 755px) {
  header .navmenu {
    display: none;
  }

  header .logo-wrapper {
    width: 100%;
    text-align: center;
  }

  header .menu-icon {
    display: block;
  }

  .menu-bar-overall-div .side-menu-bar .navmenu .navitem .dropdown {
    width: 190px;
    position: static;
    background: #fff;
    border-radius: 0px;
    box-shadow: none;
    transform: translateY(0px);
    opacity: 1;
    overflow: hidden;
    max-height: 0px;
     z-index: 1; 
    transition: max-height 0.25s ease-in-out;
  }

  .menu-bar-overall-div .side-menu-bar .navmenu .navitem.active .dropdown {
    max-height: 400px;
    transition: max-height 0.25s ease-in-out;
  }

  .menu-bar-overall-div .side-menu-bar .navmenu .navitem .dropdown a {
    padding-left: 32px;
    width: 100%;
  }

  .menu-bar-overall-div .side-menu-bar .navmenu .navitem a {
    padding: 16px;
  }

  .menu-bar-overall-div .side-menu-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

/* Featured Post */
.featured-post-form {
  padding: 32px 0;
}

.featured-post-form .input-control-sm {
  max-width: 400px;
  width: 100%;
}

@media only screen and (max-width: 755px) {
  .featured-post-form .input-control-sm {
    margin: 8px 0;
  }
}

/* ********************* PAGES ********************* */

/* TABLE */
.admin-table table {
  width: 100%;
  margin-top: 16px;
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #e2e9f3;
}

.admin-table table tr {
  border-top: 1px solid #e2e9f3;
}

.admin-table table th,
.admin-table table td {
  padding: 12px;
  text-align: left;
}

.admin-table table a {
  text-decoration: none;
  color: #0a3654;
}

.admin-table table a:hover {
  text-decoration: underline;
}

.admin-table .td-action-links {
  margin-top: 10px;
}

.admin-table .td-action-links a {
  font-size: 0.89rem;
}

.admin-table .td-action-links a.trash {
  color: #ff5e04;
}

.admin-table .td-action-links a.edit {
  color: #08a2ff;
}

/* Table Pagination */
.admin-table .pagination-links {
  display: flex;
  justify-content: flex-end;
}

.admin-table .pagination-links .link {
  font-size: 0.9rem;
  background: transparent;
  padding: 0.35rem 0.75rem;
  min-width: 35px;
  border: 1px solid #e2e9f3;
}

.admin-table .pagination-links .link.active {
  background: #8bc7e9;
  color: #fff;
}

/* Admin-form */
.admin-form {
  margin: 10px auto;
  background: #fff;
  border-radius: 5px;
}

.admin-form .post-details {
  display: flex;
  justify-content: space-between;
}

.admin-form .post-details .select-topic-wrapper {
  flex-basis: 70%;
}

.admin-form .post-details .image-wrapper {
  flex-basis: 30%;
  padding: 25px 0px 0px 20px;
}

.admin-form .post-details .image-wrapper .image-btn {
  width: 100%;
  height: 52px;
  border-radius: 3px;
  border: 1px dashed lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.admin-form .avatar-input-group .change-avatar-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 8px;
  outline: none;
  background-image: url(../../assets/images/avatar2.png);
  background-size: cover;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.admin-form .avatar-input-group .change-avatar-btn span {
  opacity: 0;
}

.admin-form .avatar-input-group .change-avatar-btn:hover span {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  transition: opacity 0.125s ease-in-out;
}

/* Twin Table */
.twin-table {
  display: flex;
  justify-content: space-between;
}

.twin-table table {
  margin-top: 0px;
}

.twin-table table tbody tr:hover {
  border: 1px solid #bce6d9;
  background-color: #eef5fc;
  cursor: default;
}

.twin-table table tbody tr .checkmark-icon {
  color: green;
  cursor: pointer;
}

.twin-table table tbody tr .close-icon {
  color: red;
  cursor: pointer;
}
.twin-table table tbody tr:hover .close-icon{
 display: block;
}

.twin-table table tbody tr.selected .checkmark-icon{
  display: block;
}

@media only screen and (max-width: 640px) {
  .twin-table {
  flex-direction: column;
  }
  }

/* Admin Layout */
.page-wrapper {
  display: flex;
  padding-top: 80px;
  min-height: 100%;
}

.page-wrapper .sidebar-overlay {
  display: none;
}

.page-wrapper .sidebar {
  flex-basis: 18%;
  height: inherit;
  min-height: 100%;
  max-width: 260px;
  background: #0a3654;
}

.page-wrapper .sidebar .sidebar-author-mobile {
  display: none;
}

.page-wrapper .sidebar .list-menu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 2rem;
}

.page-wrapper .sidebar .list-menu li a {
  text-decoration: none;
  color: #6aa3a9;
  display: block;
  padding: 15px 30px;
  position: relative;
}

.page-wrapper .sidebar .list-menu li a .chevron-forward {
  position: absolute;
  right: 20px;
}

.page-wrapper .sidebar .list-menu li a .menu-icon {
  margin-right: 12px;
}

.page-wrapper .sidebar .list-menu li a:hover {
  color: #fff;
}

.page-wrapper .page-content {
  flex-basis: 82%;
  overflow-x: hidden;
}

/* Media Wrapper */
@media only screen and (max-width: 755px) {
  .page-wrapper {
    display: block;
    min-height: calc(100% - 80px);
  }

  .page-wrapper .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    z-index: 3003;
    overflow: hidden;
    transform: translateX(-240px);
    transition: transform 0.25s ease-in-out;
  }

  .page-wrapper .sidebar.open {
    transform: translateX(0px);
    transition: transform 0.25s ease-in-out;
  }

  .page-wrapper .sidebar-overlay.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
     z-index: 2;
    background-color: rgba(0, 0, 0, 0.45);
  }

  .page-wrapper .sidebar .sidebar-author-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 76px;
  }

  .page-wrapper .sidebar .sidebar-author-mobile .avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }

  .page-wrapper .sidebar .sidebar-author-mobile .author-name {
    color: #8aa3a1;
    margin: 8px auto;
  }
}

/* Responsive Boxes for Containers */
.admin-container {
  max-width: 1000px;
  margin: 0 auto;
}

.sm-box {
  max-width: 500px;
  width: 100%;
  padding: 32px 10px;
}

.md-box {
  width: 75%;
  padding: 32px 20px;
}

.lg-box {
  width: 95%;
  padding: 32px 10px;
}

@media only screen and (max-width: 1024px) {
  .md-box,
  .lg-box {
    width: 96%;
    padding: 32px 10px;
  }

  .sm-box {
    width: 100%;
    padding: 32px 10px;
  }
}

.selected-role{
  background: #fff;
  border-radius: 5px;
  padding: 20px;
}

.selected-role .description{
  font-size: 1.1rem;
  line-height: 1.4rem;
}

/* Auth Pages */
.auth-form{
  margin: 5px auto;
  max-width: 400px;
  width: 100%;
  padding: 30px 20px 20px;
  border-radius: 5px;
}

.auth-form.small-form{
  /* margin-top: 7rem; */
}

.auth-form .lead-text{
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #383737;
}

.auth-form .forgot-password-wrapper{
  display: flex;
  justify-content: space-between;
}

.auth-form .form-title{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}